<app-header></app-header>
<div class="shadow-md px-8 pt-6 pb-8 w-8/12 flex flex-col mx-auto bg-gray-100 mx-12 my-10 w-auto rounded-3xl text-gray-500">

  <mat-card style="margin-bottom: 20px;">
      
      <mat-card-header>
        <mat-card-title>{{ sesion.nombre }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <div style="display: flex;">
          <p style="padding-right: 5px;">Mentor:</p>
          <p>{{ sesion.mentor }}</p>
        </div>

        <div style="display: flex;">
          <p style="padding-right: 5px;">Fecha de inicio:</p>
          <p>{{ sesion.fechaInicio }}</p>
        </div>

        <div style="display: flex;">
          <p style="padding-right: 5px;">Fecha de finalización:</p>
          <p>{{ sesion.fechaFin }}</p>
        </div>

        <div style="display: flex;">
          <p style="padding-right: 5px;">Link de la reunión:</p>
          <p>{{ sesion.link }}</p>
        </div>

        <p style="margin-top: 10px;">Temas</p>

        <table
            mat-table
            [dataSource]="dataSource"
            matSort
            class="mat-elevation-z8"
            class="w-100"
            >
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
              <td style="padding-right: 10px;" mat-cell *matCellDef="let element">{{ element.hora }}</td>
            </ng-container>
        
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
              <td mat-cell *matCellDef="let element">{{ element.tema.nombre }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>
        
      </mat-card-content>

      <mat-card-actions>
        <button (click)="back()" style="background-color: #3F51B5; color: white;" class="boton-upd" mat-button color="primary">Atrás</button>
      </mat-card-actions>
  </mat-card>
</div>
