
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/home" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Inicio</a>
              <a href="/mentor" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium">Sesiones</a>
              <a href="/temas" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Temas</a>
            </div>
          </div>
        </div>

        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <div class="relative ml-3">
              <div>
                <button *ngIf="login.isLoggedIn()" (click)="logout()" type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full" src="https://www.nicepng.com/png/full/518-5189122_logout-transparent-logout-button-icon.png" alt="">
                </button>
              </div>
            </div>
        </div>
        
      </div>
    </div>
  </nav>

<div class="shadow-md px-8 pt-6 pb-8 w-8/12 flex flex-col mx-auto bg-gray-100 mx-12 my-10 w-auto rounded-3xl text-gray-500">

  <mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
            <table class="tabla-sesiones" mat-table [dataSource]="finalData" matSort>
             
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  ID
                </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Nombre
                </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>
              
              <ng-container matColumnDef="fechaInicio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Hora de inicio
                </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
              </ng-container>
              
              <ng-container matColumnDef="fechaFin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Hora de finalización
                </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
              </ng-container>

             
              <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Link
                </th>
                <td mat-cell *matCellDef="let element"> {{element.link}} </td>
              </ng-container>
             
              <ng-container matColumnDef="anotaciones">
                <th mat-header-cell *matHeaderCellDef>
                  Anotaciones
                </th>
                <td mat-cell *matCellDef="let element"> {{element.anotaciones}} </td>
              </ng-container>
              
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef="let i = index">
                  Acciones
                </th>
                <td mat-cell *matCellDef="let Sesion" class="align-middle">
                  <a class="cursor-pointer ml-2 text-red-800" matTooltip="Ver sesión completa">
                    <button mat-button color="primary" mat-raised-button [routerLink]="[Sesion.id, 'detalle']">
                      <mat-icon>view_agenda</mat-icon>
                    </button>
                  </a>
                  <a class="cursor-pointer ml-2 text-red-800" matTooltip="Eliminar sesión">
                    <button mat-button color="warn" mat-raised-button mat-button (click)="delete(Sesion.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </a>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
      </mat-paginator>

    </div>
    <div class="my-2">
      <button [routerLink]="['/mentor/agregar']" class="block w-full py-2 rounded-2xl hover:-translate-y-1 transition-all duration-500 text-white font-semibold mb-2" mat-raised-button color="primary">Agregar sesion</button>
    </div>
</div>
